#register-page{
    height: 100%;
    width: 100%;
    background-image: url('background_clipdrop-enhance.png');
    background-size: cover;
    position: absolute;
}
#register-block{
    width: fit-content;
    height: fit-content;
    padding: 30px;
    background-color: white;
    border-radius: 15px 15px 15px 15px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}
form{
    height: fit-content;
    width: fit-content;
    text-align: center;
}