{% extends 'base.html' %}
{% block body %}
<nav class="navbar navbar-expand-lg" id="navbar" style="border-bottom: solid; border-width: 0.5px; border-color: lightgray">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" style="margin: auto;">
            <i class="navbar-toggler-icon" style="padding: 5px;"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <a class="navbar-brand" href="/" style="margin: auto;">Vaping Detector</a>
        </div>
    </div>
</nav>
<div id="dashboard" class="container align-items-center justify-items-center text-center">
    {% for rows in records %}
        <div class="card" style="width: 18rem; display: inline-block; margin: auto;">
          <div class="card-body">
            <h5 class="card-title">Alert</h5>
            <h6 class="card-subtitle mb-2 text-muted">Abnormal activities detected!</h6>
            <p class="card-text">
                Data: {{ rows.current_stats }}
                Location: {{ rows.location }}
                Time: {{ rows.time }}
            </p>
            <a href="/?option=remove&item-uuid={{ rows.notification_id }}">Remove Notification</a>
          </div>
        </div>
    {% endfor %}
</div>
{% endblock %}