{% extends 'base.html' %}
{% block css %}<link rel="stylesheet" href="{{ url_for('static', filename='register.css') }}">{% endblock %}
{% block body %}
<div id="register-page">
    <div class="position-absolute top-50 start-50 translate-middle" id="register-block">
        <form method="POST" action="{{ url_for('register') }}">
            <img style="width: 100px; height: 100px; margin: auto;" src="https://downloadlogomienphi.com/sites/default/files/logos/download-logo-vector-vinschool-mien-phi.jpg">
            <h4>Trang Đăng ký.</h4>
            {{ form.csrf_token() }}
            <div class="mb-3">
                <label for="username" class="form-label">Tên người dùng</label>
                {{ form.username(class_="form-control", id_="username") }}
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Mật khẩu</label>
                {{ form.password(class_="form-control", id_="password") }}
            </div>
            {{ form.submit(class_="btn btn-primary", value_="Đăng ký") }}
        </form>
    </div>
</div>
{% endblock %}